### Java ###
# Compiled class file
test/bin
test/.classpath
test/.project
test/.settings



# Recycle Bin used on file shares
$RECYCLE.BIN/

JSP/.classpath
JSP/build/
JSP/.project
JSP/.settings

ex00/.settings/
ex00/target/
ex00/.project
ex00/.settings
ex00/.springBeans

jex00/.settings/
jex00/target/
jex00/.project
jex00/.settings
jex00/.springBeans

spring/.settings/
spring/target/
spring/.project
spring/.settings
spring/.springBeans

ex01/.settings/
ex01/target/
ex01/.project
ex01/.settings
ex01/.springBeans

jex01/.settings/
jex01/target/
jex01/.project
jex01/.settings
jex01/.springBeans

ex02/.settings/
ex02/target/
ex02/.project
ex02/.settings
ex02/.springBeans

jex02/.settings/
jex02/target/
jex02/.project
jex02/.settings
jex02/.springBeans

practice/.settings/
practice/target/
practice/.project
practice/.settings
practice/.springBeans

practice_j/.settings/
practice_j/target/
practice_j/.project
practice_j/.settings
practice_j/.springBeans

jsp2/.settings/
jsp2/target/
jsp2/.project
jsp2/.settings
jsp2/.springBeans

game/.settings/
game/target/
game/.project
game/.settings
game/.springBeans

ex03/.settings/
ex03/target/
ex03/.project
ex03/.settings
ex03/.springBeans
