<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sns.member.MemberMapper">
	<insert id="insert" parameterType="com.example.sns.member.MemberVO">
		INSERT INTO member (
			name, id, pwd, reg_date
		) VALUES (
			#{name}, #{id}, MD5(#{pwd}), NOW()
		)
	</insert>
	
	<update id="update" parameterType="com.example.sns.member.MemberVO">
		UPDATE member SET
			name = #{name}, pwd = MD5(#{pwd})
		WHERE no = #{no}
	</update>
	
	<select id="login" parameterType="map" resultType="com.example.sns.member.MemberVO">
		SELECT * FROM member WHERE id=#{id} AND pwd = MD5(#{pwd})
	</select>
	
	<select id="getMember" parameterType="int" resultType="com.example.sns.member.MemberVO">
		SELECT * FROM member WHERE no = #{no}
	</select>
	
</mapper>