<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.project.news.NewsMapper">
	
	<insert id="insert" parameterType="kr.co.project.news.NewsVO">
		INSERT INTO newsboard (
			title, content, writer, postdate, viewcount
		) VALUES (
			#{title}, #{content}, #{writer}, NOW(), 0
		)
	</insert>
	
</mapper>