<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.project.reply.ReplyMapper">
	
	<insert id="insert" parameterType="kr.co.project.reply.ReplyVO">
		INSERT INTO reply (
			title, content, regdate, viewcount, member_no, filename_org, filename_real
		)
		VALUES ( 
			#{title}, #{content}, now(), 0, #{member_no}, #{filename_org}, #{filename_real}
		)
		<selectKey keyProperty="no" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="gnoUpdate" parameterType="int">
		UPDATE reply SET gno=#{gno} WHERE no=#{gno}
	</update>

	<update id="onoUpdate" parameterType="kr.co.project.reply.ReplyVO">
		UPDATE reply SET ono=ono+1 WHERE gno=#{gno} AND ono > #{ono}
	</update>
	
	<insert id="reply" parameterType="kr.co.project.reply.ReplyVO">
		INSERT INTO reply (
			title, content, regdate, viewcount, member_no, filename_org, filename_real, gno, ono, nested
		)
		VALUES ( 
			#{title}, #{content}, now(), 0, #{member_no}, #{filename_org}, #{filename_real}, #{gno}, #{ono}, #{nested}
		)
	</insert>
	
	<select id="getTotalCount" parameterType="kr.co.project.reply.ReplyVO" resultType="int"> 
	<!-- 
		실제 int가 아니라  java.lang.Integer 이다. 알리아스가 걸려있음
		myBatis는 무조건 Object를 return하게 되어있음.
	-->
		SELECT count(*) 
		FROM reply
		<where>
			<if test="stype != null and stype != ''">
				<if test="stype != 'all'">
					${stype} LIKE '%${sword}%'
				</if>
				<if test="stype == 'all'">
					title LIKE '%${sword}%' OR content LIKE '%${sword}%' 
				</if>
			</if>
		</where>
	</select>
	
	<select id="getList" parameterType="kr.co.project.reply.ReplyVO" resultType="kr.co.project.reply.ReplyVO">
		SELECT *,
			(SELECT name FROM member WHERE no = reply.member_no) as member_name,
    		(SELECT COUNT(*) FROM comment WHERE board_no = reply.no AND tablename='reply') as comment_count
		FROM reply
		<where>
			<if test="stype != null and stype != ''">
				<if test="stype != 'all'">
					${stype} LIKE '%${sword}%'
				</if>
				<if test="stype == 'all'">
					title LIKE '%${sword}%' OR content LIKE '%${sword}%' 
				</if>
			</if>
		</where>
		ORDER BY gno DESC, ono ASC
		LIMIT ${startIdx},${rowPerPage}
	</select>
	
	<select id="view" parameterType="int" resultType="kr.co.project.reply.ReplyVO">
		SELECT * FROM reply WHERE no = #{xxxxx}
	</select>
	
	<update id="updateViewcount" parameterType="int">
		UPDATE reply SET viewcount = viewcount +1 WHERE no = #{no}
	</update>
	
	<update id="update">
		UPDATE reply SET
			title = #{title}
			, content = #{content}
			<if test="filename_org != null">
			, filename_org = #{filename_org}
			, filename_real = #{filename_real}
			</if>
		WHERE no = #{no}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM reply WHERE no=#{no}
	</delete>
</mapper>