/RPGTest.class
/Novice.class
/Wizard.class
/InheritanceTest.class
/Animal.class
/Pet.class
/UpCasting.class
/Adventurer.class
/Knight.class
/Thief.class
/Overriding.class
/Circle.class
/Shape.class
/Square.class
/Triangle.class
/ProtectedFields.class
/Basketball.class
/PingPong.class
/Soccer.class
/Sports.class
/SuperTest.class
/Orc.class
/OrcWarrior.class
/ElvesTest.class
/Elf.class
/ElfLord.class
/HighElf.class
