<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chap06.BoardMapper">
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title LIKE '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							content LIKE '%' || #{keyword} || '%'
						</when>
						<when test="type == 'W'.toString()">
							writer LIKE '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<select id="getTotalCount" resultType="int" parameterType="chap06.BoardVO">
		SELECT count(*) FROM tb1_board WHERE 
		<include refid="criteria"></include>
		bno > 0
	</select>
	
	<select id="getList" resultType="chap06.BoardVO">
	<!-- <![CDATA[  ]]> : SQL문에 있는 부등호 기호(<, >)를 태그로 인식하는 것을 막아주기 위한 방법-->
	<![CDATA[
		SELECT * FROM tb1_board WHERE bno > 0 ORDER BY bno DESC
	]]>
	</select>
	
	<select id="getListWithPaging" resultType="chap06.BoardVO">
	<![CDATA[
		SELECT 
			bno, title, content, writer, regdate, updatedate
		FROM (
			SELECT /*+INDEX_DESC(tb1_board pk_board) */
				rownum rn, bno, title, content, writer, regdate, updatedate
			FROM 
				tb1_board
			WHERE 
	]]>
		
		<include refid="criteria"></include>
		
	<![CDATA[		
			rownum <= #{pageNum} * #{amount}
		)
		WHERE rn > (#{pageNum} -1) * #{amount}
	]]>
	</select>
	
	<insert id="insert">
		INSERT into tb1_board (bno, title, content, writer)
		VALUES
			(SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{writer})
	</insert>
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			SELECT SEQ_BOARD.NEXTVAL from dual
		</selectKey>
		
		INSERT into tb1_board (bno, title, content, writer)
		VALUES
			(#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="chap06.BoardVO" parameterType="long">
		SELECT * FROM tb1_board WHERE bno = #{xxxx}     
		<!-- 파라미터 값이 하나만 넘어오기때문에 "xxxx"처럼 아무거나 써도 된다. -->
	</select>
	
	<delete id="delete">
		DELETE FROM tb1_board WHERE bno = #{aaaaa}
	</delete>
	
	<update id="update" parameterType="chap06.BoardVO">
		UPDATE tb1_board SET 
			title = #{title},
			content = #{content},
			writer = #{writer},
			updateDate = sysdate
		WHERE bno = #{bno} 
	</update>
</mapper>