/SmartPhoneTest2.class
/Alarm.class
/SmartPhone.class
/Phone.class
/Main.class
/Beer.class
/Coffee.class
/Drink.class
/Juice.class
/Tea.class
/Water.class
/Main1.class
/Car.class
/Truck.class
/Main2.class
/Currency.class
/EUR.class
/JPY.class
/KRW.class
/USD.class
/Main3.class
/GreatWizard.class
/Novice.class
/Wizard.class
/VariousFriends.class
/Architect.class
/Artist.class
/Developer.class
/Friend.class
/Lawyer.class
